node_modules
dist
out
build
/database.json
*.log*
.env
test.sh
certificate.p12
.DS_Store
/test-results/
/playwright-report/
/playwright/.cache/
/tests
/tests-examples
* copy.*
/test-results/
/playwright-report/
/playwright/.cache/
